
body {
	font-family: monospace;
/*    background-image: linear-gradient(to right, darkslateblue 30% , darkblue);*/
    width: 100%;
    background-color: black;
}

#song-interface {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.mb75px {
    margin-bottom: 50px;
}

.section-heading {
    height: 3rem;
    font-weight: 800;
	font-size: 24.5px;
	letter-spacing: 1.8px;
	color: white;
    width: 100%;
    margin-bottom: 14px;
}

#song-interface {
    position: absolute;
    top: 7vh;
    width: 100%;
    z-index: 0;
}

/*   HEADER    */


#header {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 7vh;
    position: fixed;
    top: 0px;
    background-color: #21242e;
    border-bottom: 1px solid rgba(255,255,255,0.3);
    z-index: 1;
}

#icon {
    height: 100%;
    width: 10%;
}

#icon a img {
    margin: 2px;
    height: 6vh;
    width: 6vh;
    border-radius: 50%;
}

#icon a img:hover {
    box-shadow: 0 0 5px white;
}

#home {
    height: 100%;
    width: 10%;
}
#home a {
    text-decoration: none;
}
#home p {
    color: rgba(255,255,255,0.5);
    font-size: 1.5rem;
    margin: 1vh;
}
#home p:hover {
    color: red;
}

#favorite {
    height: 100%;
    width: 10%;
}
#favorite a {
    text-decoration: none;
}
#favorite p {
    color: rgba(255,255,255,0.5);
    font-size: 1.5rem;
    margin: 1vh;
}
#favorite p:hover {
    color: red;
}
#favorite-2 {
    height: 100%;
    width: 10%;
}
#favorite-2 i {
    font-size: 3vh;
    margin: 2vh;
    color: rgba(255,255,255,0.5);
}
#favorite-2 i:hover{
    color: red;
    font-size: 4vh;
}
#search {
    height: 100%;
    width: 50%;
    
}
#search form {
    height: 5vh;
    margin: 0.5vh auto;
}
#search form input {
    width: 80%;
    
    display: inline-block;
}
#search form i {
    position: relative;
    left: -5vh;
    color: black;
    display: inline-block;
}
#profile {
    height: 100%;
    width: 10%;
}
#profile a img {
    margin: 2px;
    height: 6vh;
    width: 6vh;
    border-radius: 50%;
    border: 1px solid rgba(255,255,255,0.3);
}
#profile a img:hover{
    box-shadow: 0 0 5px white;
}
/*   aside   */

#queue {
	width:27%;
/*	margin: 0px 2px 0px 0px;*/
	background-color: #21242e;
}
.queue-heading {
    position: fixed;
	height: auto;
    height: 5vh;
    display: flex;
    justify-content: space-between;
    width: 27%;
    border-bottom: 1px solid rgba(255,255,255,0.3);
    margin-bottom: 1vh;
    background-color: #21242e;
}
.queue-heading-title {
    width: 24%;
}
.queue-heading h1 {
    font-family: sans-serif;
	color: rgba(255,255,255,0.9);
    font-size: 12px;
    margin: 1vh;
    overflow-x: scroll;
	
}
.queue-heading-buttons {
    width: 70%;
/*    border: 1px solid white;*/
    display: flex;
    flex-direction: row-reverse;
}

#reset {
    color: rgba(255,255,255,0.5);
    background-color: #21242e;
    border: none;
    font-size: 10px;
}
#reset:hover {
    color: white;
}

#submit {
    font-size: 10px;
    color: rgba(255,255,255,0.5);
    width: 20%;
    height: 3vh;
    background-color: #B85641;
    margin: 1vh;
    border-radius: 50%;
    
}
#submit:hover{
    color: white;
    box-shadow: 0 0 5px rgba(255,255,255,0.5);
}



.queue-container ul {
	padding-left:5px;
}
.queue-container li{
	margin-top:1vh;
}
.queue-items {
   height: 6vh;
   display: flex;
   justify-content: space-between;
    overflow-x: hidden;
}
.song-logo {
	width: 10%;
}
.song-logo img
{
    margin: 4px 5px;
	height:5vh;
	width:5vh;
    border-radius: 5px;
}
.song-text {
	width: 60%;
    padding: 4px 0px;
}
.song-text a {
    text-decoration: none;
}

.song-text a h1 {
    font-weight:500;
	font-size:2vh;
	color:rgba(255,255,255,0.9);
	font-family: monospace;
    overflow-x: hidden;
    margin-bottom: 0;
}

.song-text a p {
    margin: 0px;
    font-size:1.5vh;
    color:rgba(255,255,255,0.7);
}

.song-heart {
	width: 10%;
    padding: 8px 0px;
	color: darkgray;
}

.queue-items:hover
{
	background-color:black;
    border-radius: 5px;
    margin: 0px 2px;
    box-shadow: 0px 0px 5px rgba(255,255,255,0.3);
}
.song-heart a:hover
{
	font-size: 1.2rem;
	color:red;
}


/*   main   */
 main {
     width: 70%;
 }

/*  timeline bar   */
#timeline-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    overflow: hidden;
    height: 185px;
/*    border: 1px solid red;*/
}

.timeline-image-container {
    min-width: 30%;
    height: 150px;
    margin: 14px 0px 0px 14px;
}

.timeline-image-container img {
    width: 100%;
    height: 100%;
}
.timeline-image-container a {
    text-decoration: none;
}

.timeline-image-detail {
    transition: all 0.5s ease-in-out;
    position: relative;
    top: -150px;
    left: 0;
    height: 100%;
    width: 100%;
    color: transparent;
    text-align: center;
}

.timeline-image-container:hover {
    box-shadow: 0 0 20px #74ADC8;
    padding: 6px;
}
.timeline-image-container:hover .timeline-image-detail {
    background-color: #80808078;
    color: white;
    position: relative;
    top:-138px;
}

/*   latest release   */

#latest-release {
    
/*    background-color: red;*/
    
}
.latest-release-containers {
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    flex-wrap: wrap;
    width: 100%;
    overflow-x: scroll;
}
.latest-release-container {
    width: 45%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 8px 0px 8px 8px;
}
.latest-release-image {
    width: 30%;
}
.latest-release-image img{
    height: 80px;
    width: 60px;
}

.latest-release-name {
    width: 50%;
    margin: auto;
}

.latest-release-name h1{
    font-size: 14px;
    color: rgba(225,225,225,0.9);
}

.latest-release-name p{
    font-size: 10px;
    color: rgba(225,225,225,0.7);
}

.latest-release-time {
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.latest-release-time-options input {
    display: none;
}
.latest-release-time-options-label {
    margin: auto;
    cursor: pointer;
    overflow: hidden;
    color: rgba(225,225,225,0.9);
}

.latest-release-time-options-content{
    max-height: 0px;
    overflow: hidden;
    transition: all 0.25sec;
}
.latest-release-time-options-content >div {
    background-color: darkred; 
}
.latest-release-time-options-content > div a {
    color: black;
    text-decoration: none;
    padding: 2px 5px;
    font-weight: bolder;
    font-size: 15px;
    border: 1px solid black;
}
.latest-release-time-options-content ul li {
   list-style: none;
    margin: 2px 2px 0px -4px;
}
.latest-release-time-options-content ul li a {
    text-decoration: none;
}

input:checked ~ .latest-release-time-options-content {
    max-height: 100%;
    position: absolute;
/*    right: -15px;*/
    border: 2px solid black;
    width: 30vh;
    box-shadow: 0 0 10px rgba(0, 0,0, 0.8);
    background-color: aliceblue;
}

.latest-release-time p {
    font-size: 12px;
    color: rgba(225,225,225,0.9);
    margin:auto;
    margin-left: 0px;
    text-align: right;
}

.latest-release-container:hover {
/*    border: 1px solid white;*/
    padding: 2px;
    box-shadow: 0 0 5px 0 rgba(225,225,225,0.7);
}


/*   POPULER ARTISTS    */
.artists-containers {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 150px;
    width: 100%;
    overflow-x: scroll;
}
.artists-container {
    
    width: 120px;
    height: 100%;
    margin: 0px 0px 0px 10px;
}

/*
.artists-block {
    position: relative;
    top: 0%;
    height: 120px;
    width:100%;
    
}
*/
.artists-block img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}
.artists-name {
    height: 30px;
    width: 100%;
    padding: 1px 0px;
    text-align: center;
}
.artists-name h1 {
    font-size: 15.8px;
    color: rgba(225,225,225,0.9);
    text-overflow: clip;
    
}
.artists-block img:hover {
    box-shadow: 0 0 5px rgba(225,225,225,0.8);
}

/*  STATION TYPE    */

#station {
    display: flex;
    flex-direction: row;
/*    flex-wrap: nowrap;*/
    justify-content: space-between;
    width: 100%;
    height: 150px;
    overflow: scroll;
}

.station-items {
    height: 100%;
    width: 150px;
    margin: 0px 0px 0px 5px;
    
}
.station-items img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    z-index: 1;
}
.station-items-details {
    height: 100%;
    width: 100%;
    border-radius:50%;
    
    position: relative;
    top: -100%;
    color: white;
    background-color: rgba(225,225,225,0.5);
}
.station-items-details p {
    text-align: center;
    position: relative;
    top: 37%;
    font-size: 1.5rem;
}

.station-items-details:hover {
    background-color: rgba(225,225,225,0.9);
/*
    height: 140px;
    width: 140px;
*/
}
/*  LATEST ENGLISH  and HINDI   */

.latest-songs-cntainers {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 147px;
    overflow-x: scroll;
}

.latest-songs-container {
    min-width: 129px;
    height: 100%;
    margin: 0 0 0 15px;
	background-color: #21242e;
    box-shadow: 1px 1px 5px rgba(255,255,255,0.5);
}
.latest-songs-container h1:hover{
    font-size: 14px;
/*
    width: 135px;
    height: 150px;
*/
}
.latest-songs-container a {
    text-decoration: none;
}

.latest-songs-container img {
    width: 100%;
    height: 114px;
    
}
.latest-songs-container h1 {
    font: 12.2px proximanova-semobold-webfont;
    color: rgba(255,255,255,0.8);
    margin: 7px 2px;
}

.latest-songs-container p {
    font-size: 0.8rem;
    color: rgba(255,255,255,0.6);
    padding: 1px;
    margin-top: -4px;
}

 /*    footer */

 footer {
     position: fixed;
	 bottom: 0px;
	 padding: 4px;
	 display: flex;
	 justify-content: space-between;
	 background-color: #21242e;
	 border-top: 1px solid rgba(255,255,255,0.3);
     width: 100%;
     height: 7vh;
     border-top-left-radius: 5px;
     border-top-right-radius: 5px;
 }

#footer-song {
    width: 30%;
}

.footer-items {
   height: 6vh;
   display: flex;
   justify-content: space-between;
    overflow-x: hidden;
}
 #footer-audio {
	 width: 70%;
     height: 4vh;
 }

 footer audio {
	 width: 70%;
     height: 5vh;
     color: black;
 }



 /* media query */

/*  header files   */

@media screen and (min-width:992px)
{
    #favorite-2 {
        display: none;
    }
}

@media screen and (max-width:992px)
{
    #favorite {
        display: none;
    }
}

@media screen and (max-width:576px){
    #home {
        display: none;
    }
    .section-heading {
      height: 2rem;
      font-weight: 800;
	  font-size: auto;
      font-family: cursive;
      color: white;
      width: 100%;
     }
    
    .latest-release-name {
        width: 58%;
    }
    
    .latest-release-time {
        display: none;
    }
}

/*   song display   */

 @media screen and (max-width:768px) {

     .queue-heading {
         width: 10%;
     }
    .queue-heading-title {
        width: 100%;
    }
    .queue-heading-buttons {
         display: none;
     }
     
     main {
         width: 85%;
     }
	#footer-audio {
		width: 80%;
	}
    
     #queue {
         width: 10%;
     }
     #queue img {
         width: 100%;
     }
    .song-logo {
         width: 100%;
     }
	#song-info {
		display: none;
	}

	.song-text {
		display: none;
	}
	.song-heart {
		display: none;
	}
         
 }

@media screen and (max-width:992px) {
    .song-text {
        display: none;
    }
}